a {
    text-decoration: none;
  }
  .sidebar {
    background-color: #ffffff;
    color: rgb(5, 87, 32);
    /* overflow-y: auto; */
    /* height: 100vh; */
    height:100vh;
    overflow-y: scroll;
  }
  /* .top_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
  } */
  .logo {
    font-size: 18px;
    line-height: 0;
    color:rgb(5, 87, 32);
  }
  .link {
    display: flex;
    color: rgb(5, 87, 32);
    margin: 10px 0;
    gap: 10px;
    padding: 5px 10px;
    border-right: 4px solid transparent;
    /* transition: 0.2ms cubic-bezier(0.6, -0.28, 0.735, 0.045); */
  }
  .link:hover {
    border-right: 4px solid white;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background: rgb(199, 199, 199);
  }
  .link_text {
    white-space: wrap;
    font-size: 16px;
    margin:auto 0;
  }
  .icon {
    font-size: 28px;
  }
  .main-container {
    display: flex;
    max-height: 100vh;
    padding-top: 64px;
    overflow: hidden;
    width:100%;
  }
  .main-content {
    padding: 20px;
    background-color: #fbf9ec;
    /* max-height: calc(100vh-64px); */
    width: 100%;
    overflow-y:scroll;
  }
  .sidebar::-webkit-scrollbar{
    display:none;
  }
  .main-content::-webkit-scrollbar{
    display:none;
  }
  .active {
    border-right: 4px solid rgb(5, 87, 32);;
    background: rgb(199, 199, 199);
  }
  